from __future__ import annotations

from dataclasses import dataclass

from .models import {{ module.class }}Item
from .policies import sort_{{ module.snake }}_items


@dataclass(frozen=True)
class {{ module.class }}Report:
    items: tuple[{{ module.class }}Item, ...]
    total_priority: int
    highest_priority_name: str

    def to_json_dict(self) -> dict[str, object]:
        return {
            "items": [
                {"name": item.name, "priority": item.priority}
                for item in self.items
            ],
            "total_priority": self.total_priority,
            "highest_priority_name": self.highest_priority_name,
        }


def summarize_{{ module.snake }}(items: tuple[{{ module.class }}Item, ...]) -> {{ module.class }}Report:
    ordered_items = sort_{{ module.snake }}_items(items)
    highest_priority_name = ordered_items[0].name if ordered_items else ""
    return {{ module.class }}Report(
        items=ordered_items,
        total_priority=sum(item.priority for item in ordered_items),
        highest_priority_name=highest_priority_name,
    )


__all__ = ["{{ module.class }}Report", "summarize_{{ module.snake }}"]
